/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2018, 12:22:40 PM
    Author     : nickn
*/

#account-verification > ul > li {
    margin-bottom: 15px;
}

#account-verification > ul > li:last-of-type {
    margin-bottom: 0;
}

#account-verification .aSec .s-ct {
    background-color: #4DBDC9;
    color: #FFF;
    padding: 10px 20px;
}

#account-verification .aSec .s-tt {
    font-size: 18px;
    margin-bottom: 10px;
}

#account-verification .aSec .rows > li {
    margin-bottom: 15px;
}

#account-verification .aSec .rows > li:last-of-type {
    margin-bottom: 10px;
}

#account-verification .aSec .ins {
    text-align: justify;
}

#account-verification .aSec .aDoc {
    width: 600px;
    margin: 0 auto;
}

#account-verification .aSec .aDoc .ctrs {
    float: right;
}

#account-verification .aSec .aDoc .na {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#account-verification .aSec .doc-s .btn {
    margin-top: 5px;
    width: 150px;
}

#account-verification .aSec .form {
    width: 600px;
    margin: 0 auto;
}

#account-verification .aSec .form > ul > li {
    margin-bottom: 5px;
}

#account-verification .aSec .sm-btn {
    width: 150px;
    margin: 0 auto;
}

#account-verification .aSec .form .aI .lb {
    float: left;
    line-height: 35px;
    width: 190px;
}

#account-verification .aSec .form .aI .in {
    margin-left: 200px;
}